.banner_box {
  max-width: 1620px;
  margin: auto;
}

.banner_area {
  position: relative;
  z-index: 1;
  margin-bottom: 5rem;
  top: -40px;
}
.banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: url(src/assets/imgshop/breadcrumb/checkout-bg.jpg) no-repeat
    center bottom;
  background-size: contain;
  z-index: 1;
}
.banner_area .banner_inner .overlay {
  background: rgba(0, 0, 0, 0.33);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.banner_area .banner_inner .banner_content {
  position: relative;
  z-index: 10;
}
.banner_area .banner_inner .banner_content h2 {
  color: #ffffff;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 12px;
  font-weight: 500;
  margin-top: 120px;
}
.banner_area .banner_inner .banner_content .page_link a {
  font-size: 14px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-right: 32px;
  position: relative;
}
.banner_area .banner_inner .banner_content .page_link a:before {
  content: "\e87a";
  font-family: "Linearicons-Free";
  font-size: 14px;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.banner_area .banner_inner .banner_content .page_link a:last-child {
  margin-right: 0px;
}
.banner_area .banner_inner .banner_content .page_link a:last-child:before {
  display: none;
}
.banner_area .banner_inner .banner_content .page_link a:hover {
  color: #1641ff;
}
.process-wrap {
  width: 100%;
  display: block;
  float: left;
  margin-left: 6rem;
  margin-bottom: 3rem;
}
.process {
  position: relative;
  float: left;
  width: 33.333%;
  z-index: 0;
}
.process p {
  position: relative;
  width: 80px;
  height: 80px;
  display: table;
  border: 8px solid darkgrey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #fff;
  z-index: 1;
  font-weight: 400;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.process p span {
  display: table-cell;
  vertical-align: middle;
}
.process.active p span {
  color: #FFC300;
}
.process.active p {
  border: 8px solid #FFC300;
}
.process-af:after {
  position: absolute;
  top: 35%;
  right: -37%;
  content: '';
  width: 100%;
  height: 1px;
  background: #f0f0f0;
  z-index: -1;
}
h3 {
  font-size: 15px;
  color: black;
  font-family: sans-serif;
}
/* content */
.cart_area {
  padding-top: 100px;
  padding-bottom: 100px;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.title-cart {
  background-color: #c97fd2;
  text-align: center;
  border: none;
  padding: .8em 0;
  color: white;
}
.title-cart th{
  color: black;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}
.cart_area {
  margin-top: 3rem;
}
.media {
  display: flex;
  align-items: flex-start;
}
.cart_inner {
  background-color: white;
}
.cart_inner .table tbody tr td .media .media-body {
  vertical-align: middle;
  align-self: center;
}
.cart_inner .table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .list li a:after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1641ff;
  display: inline-block;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.gray_btn {
  display: inline-block;
  background: #FFC300;
  padding: 0px 30px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 38px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 300ms linear 0s;
  border-radius: 5px;

}
.main_btn {
  display: inline-block;
  background: #1641ff;
  padding: 0px 30px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 38px;
  border: 1px solid #1641ff;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #1641ff;
  cursor: pointer;
  transition: all 300ms linear 0s;
  border-radius: 5px;
}
 input {
  width: 200px;
  padding: 0px 15px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  height: 40px;
  font-size: 14px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-right: -3px;
  outline: none;
  box-shadow: none;
}
.img-cart {
  width: 90px;
  height: 90px;
  object-fit: fill;
  margin-right: 7px;
}
.input-qty {
  width: 70px;
  color: black;
}
.space-col {
  text-align: center;
  width: 35%;
}
h6 {
  color: black;
}
